<!-- Modal Alert / Message با انیمیشن قابل تنظیم -->
<div class="modal fade" id="alertModal" tabindex="-1" aria-hidden="true"
     data-bs-effect="effect-scale"> 
    
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-demo">
            
            <div class="modal-body text-center p-5">
                <button aria-label="Close" class="btn-close position-absolute" data-bs-dismiss="modal"><span aria-hidden="true">×</span></button>

                
                <!-- آیکون (اختیاری) -->
                <i id="modalIcon" class="icon icon-check fs-70 text-success lh-1 my-4 d-inline-block"></i>
                
                <!-- عنوان -->
                <h4 id="modalTitle" class="text-success mb-4 fw-semibold">Congratulations!</h4>
                
                <!-- متن -->
                <p id="modalMessage" class="mb-4 mx-4 text-muted">
                    عملیات با موفقیت انجام شد.
                </p>
                
                <!-- دکمه تک (رنگ داینامیک) -->
                <button id="modalActionBtn" class="btn btn-success pd-x-25 px-4">
                    ادامه
                </button>
            </div>
        </div>
    </div>
</div>