<div class="app-header header sticky" style="margin-bottom: -74px">
  <div class="container-fluid main-container">
    <div class="d-flex">
      
      <a
          href="javascript:void(0)"
          class="app-sidebar__toggle fa animated-toggle text-dark fs-5"   
          data-bs-toggle="sidebar"
          data-icon-open="fa fa-arrow-left text-dark fs-5"
          data-icon-close="fa fa-arrow-right text-dark fs-5">
          <i class="fa fa-arrow-right"></i>
      </a>
        
      <a class="logo-horizontal" href="/">
        <img
          src="/static/images/brand/logo.png"
          class="header-brand-img desktop-logo"
          alt="logo" />
        <img
          src="/static/images/brand/logo.png"
          class="header-brand-img light-logo1"
          alt="logo" />
      </a>
      <div class="d-flex order-lg-2 ms-auto header-right-icons">
        <!-- SEARCH -->
        <button
          class="navbar-toggler navresponsive-toggler d-lg-none ms-auto"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>
        <div class="navbar navbar-collapse responsive-navbar p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
            <div class="d-flex order-lg-2">
              
              <!-- COUNTRY -->
              <div class="d-flex country">
                
                <a
                  class="nav-link theme-layout nav-link-bg layout-setting animated-toggle py-0"
                  data-icon-open="fe fe-sun fs-3"
                  data-icon-close="fe fe-moon fs-3 text-purple">
                  <i class=" fe fe-moon fs-3 text-purple"></i>
                </a>

              </div>

              <!-- CART -->
               <div class="d-flex">
                <a
                  class="nav-link icon full-screen-link nav-link-bg animated-toggle"
                  data-icon-open="icons icon-size-actual fullscreen-button"
                  data-icon-close="icons icon-size-fullscreen fullscreen-button">
                  <i class="icons icon-size-fullscreen fullscreen-button"></i>
                </a>

              </div>
              <!-- FULL-SCREEN -->

              {% comment %} <div class="dropdown d-flex notifications">
                <a
                  class="nav-link icon"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  ><i class="icon icon-bell"></i><span class="pulse"></span>
                </a>

                <div
                  class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <div class="drop-heading border-bottom">
                    <div class="d-flex">
                      <h6 class="mt-1 mb-0 fs-16 fw-semibold text-dark">
                        اعلانات
                      </h6>
                    </div>
                  </div>
                  <div class="notifications-menu ps">
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-primary brround box-shadow-primary">
                        <i class="fe fe-mail"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          New Application received
                        </h5>
                        <span class="notification-subtext">3 days ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-secondary brround box-shadow-secondary">
                        <i class="fe fe-check-circle"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          Project has been approved
                        </h5>
                        <span class="notification-subtext">2 hours ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-success brround box-shadow-success">
                        <i class="fe fe-shopping-cart"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">
                          Your Product Delivered
                        </h5>
                        <span class="notification-subtext">30 min ago</span>
                      </div>
                    </a>
                    <a class="dropdown-item d-flex" href="notify-list.html">
                      <div
                        class="me-3 notifyimg bg-pink brround box-shadow-pink">
                        <i class="fe fe-user-plus"></i>
                      </div>
                      <div class="mt-1 wd-80p">
                        <h5 class="notification-label mb-1">Friend Requests</h5>
                        <span class="notification-subtext">1 day ago</span>
                      </div>
                    </a>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
                      <div
                        class="ps__thumb-x"
                        tabindex="0"
                        style="left: 0px; width: 0px"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px">
                      <div
                        class="ps__thumb-y"
                        tabindex="0"
                        style="top: 0px; height: 0px"></div>
                    </div>
                  </div>
                  <div class="dropdown-divider m-0"></div>
                  <a
                    href="notify-list.html"
                    class="dropdown-item text-center p-3 text-muted"
                    >View all Notification</a
                  >
                </div>
              </div> {% endcomment %}
              <!-- NOTIFICATIONS -->

              
              <!-- SIDE-MENU -->
              <div class="dropdown d-flex profile-1">
                <a
                  class="nav-link icon animated-toggle"
                  data-bs-toggle="dropdown"
                  data-icon-open="icon-close fw-bold text-danger"
                  data-icon-close="icon-menu fw-bold">
                  <i class="icon icon-menu fw-bold"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  {% if request.user.is_authenticated %}

                    <div class="drop-heading">
                      <div class="text-center">
                        <h5 class="text-dark mb-0 fs-14 fw-semibold">
                          {{user.first_name}} {{user.last_name}}
                        </h5>
                        <small class="text-muted">{{user.username}}</small>
                      </div>
                    </div>
                    <div class="dropdown-divider m-0"></div>
                    {% if request.path == '/dashboard/user' or request.path == '/dashboard' %}
                        <a class="dropdown-item btn" href="/">
                          <i class="dropdown-icon fe fe-home text-dark"></i>خانه
                        </a>
                    {% else %}
                        <a class="dropdown-item btn" href="/dashboard/user">
                          <i class="dropdown-icon fe fe-grid text-dark"></i>داشبورد
                        </a>
                    {% endif %}

                    {% comment %} <a class="dropdown-item" href="lockscreen.html">
                      <i class="dropdown-icon fe fe-lock"></i> کیف پول
                    </a> {% endcomment %}

                    <a class="dropdown-item text-danger btn" href="/accounts/logout">
                      <i class="dropdown-icon fe fe-log-out text-danger"></i>خروج از حساب کاربری
                    </a>
                  {% else %}
                    <a class="dropdown-item text-dark btn" href="/accounts/logout">
                      <i class="dropdown-icon fe fe-log-in text-dark"></i>ثبت‌نام/ ورود
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function checkClassWithSidebar() {
    const hasSidebar = document.querySelector('.with-sidebar') !== null;
    const toggleBtn = document.querySelector('.app-sidebar__toggle'); // فقط اولین دکمه
    if (toggleBtn) {
      toggleBtn.style.display = hasSidebar ? 'block' : 'none';
    }
  }
  window.addEventListener('DOMContentLoaded', checkClassWithSidebar);
</script> 



