

{% comment %} 
<link href="/static/css/skin-modes.css" rel="stylesheet" />
<link id="theme" rel="stylesheet" type="text/css" media="all" href="/static/colors/color1.css" />
<link href="/static/css/transparent-style.css" rel="stylesheet"> 

{% endcomment %}



{% comment %} <script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/sticky.js"></script>
<script src="/static/js/circle-progress.min.js"></script>
<script src="/static/plugins/peitychart/jquery.peity.min.js"></script>
<script src="/static/plugins/peitychart/peitychart.init.js"></script>

<script src="/static/plugins/p-scroll/perfect-scrollbar.js"></script>
<script src="/static/plugins/p-scroll/pscroll.js"></script>
<script src="/static/plugins/p-scroll/pscroll-1.js"></script>
<script src="/static/plugins/chart/Chart.bundle.js"></script>
<script src="/static/plugins/chart/rounded-barchart.js"></script>
<script src="/static/plugins/chart/utils.js"></script>
<script src="/static/plugins/select2/select2.full.min.js"></script>
<script src="/static/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="/static/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="/static/js/apexcharts.js"></script>
<script src="/static/plugins/apexchart/irregular-data-series.js"></script>
<script src="/static/plugins/flot/jquery.flot.js"></script>
<script src="/static/plugins/flot/jquery.flot.fillbetween.js"></script>
<script src="/static/plugins/flot/chart.flot.sampledata.js"></script>
<script src="/static/plugins/flot/dashboard.sampledata.js"></script>
<script src="/static/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
<script src="/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>

<script src="/static/plugins/bootstrap5-typehead/autocomplete.js"></script>
<script src="/static/js/typehead.js"></script>
<script src="/static/js/index1.js"></script>
<script src="/static/js/themeColors.js"></script>
 {% endcomment %}