{% extends 'base/base.html' %} {% block content %}
<!--app-content open-->
<div class="main-content app-content mt-0">
  <div class="side-app">
    <!-- CONTAINER -->
    <div class="main-container container-fluid">
      <!-- PAGE-HEADER -->
      <div class="page-header">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0)">
                <i class="mdi mdi-home"></i>خانه
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                <i class="mdi mdi-view-dashboard"></i>داشبورد
            </li>
            <li class="breadcrumb-back">
                <a href="javascript:void(0)" class="btn btn-outline-default fw-900">بازگشت
                    <i class="mdi mdi-arrow-left-thick"></i>
                </a>
            </li>
          </ol>
      </div>
      <!-- PAGE-HEADER END -->

      <div class="row">
        <!-- Content -->
      </div>
    </div>
    <!-- CONTAINER END -->
  </div>
</div>
<!--app-content close-->
{% endblock %}
